---
import Display from '../components/Display.astro';
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Text</title>
  </head>
  <body class='h-screen bg-black text-white/20 overflow-hidden'>
    <Display />
  </body>
</html>
